{% extends 'seller/base.html' %}
{% load static %}




<body>
    {% block content %}
    <!-- Home -->
    <section class="home" id="home">
        <div class="text">
            <h1><span>Шукаю</span> to <br>Продам машину</h1>
            <p>Найкращий веб-сайт з продажу автомобілів Найвідоміші веб-сайти брендів включають bmw rollroyce Honda ferrari та багато інших
            </p>
            <div class="app-stores">
                <a href="#"> <img src="{% static 'img/ios6.png' %}" alt=""></a>
                <a href="#"><img src="{% static 'img/play2.png' %}" alt=""></a>
            </div>
        </div>

        
    </section>


    <!-- Ride -->
    <section class="ride" id="ride">
        <div class="heading">
            <span>Як це працює</span>
            <h1>Продаж за 3 прості кроки</h1>
        </div>
        <div class="ride-container">
            <div class="box">
                <i class="bx bxs-map"></i>
                <h2>Виберіть місце розташування</h2>
                <p>Будь-яке місце в будь-якій точці світу - від Землі до Марса, від Індії до Англії, від Азії до Антарктиди, від Делі до Мумбаї, від села до міста. Carpido тут для вас. </p>
            </div>
            
            <div class="box">
                <i class='bx bxs-calendar-check'></i>
                <h2>Дата забирання</h2>
                <p> Виберіть дату Забронюйте автомобіль, потім оплатіть Назвіть мені дату, коли ви будете забирати автомобіль, я передам його вам для поїздки, і ви зможете насолоджуватися життям з сім'єю та друзями. </p>
            </div>

            <div class="box">
                <i class='bx bxs-calendar-star'></i>
                <h2>Замовляйте авто</h2>
                <p>Забронюйте автомобіль, виберіть дату, а потім оплатіть Забронюйте різні автомобілі з хорошим тарифом Я дам ваш автомобіль для їзди.їдьте і насолоджуйтеся життям з родиною. </p>
            </div>

    
        </div>
    </section>

    <!-- Services -->
 

    <!-- About -->
    <section class="about" id="about">
        <div class="heading">
            <span>Про нас</span>
            <h1>Найкращий клієнтський досвід</h1>
        </div>
        <div class="about-container">
            <div class="about-img">
                <img src="{% static 'img/cc1.jpg' %}" alt="about.jpg">
            </div>
            <div class="about-text">
                <span>Про нас</span>
                <p>Ми - веб-сайт з продажу автомобілів <strong style='color:orange;'> Carpido </strong> який отримав нагороду за найкращий клієнтський досвід 2020 2021 2022. Ми створили цю компанію в 2020 році і за три роки роботи досягли найбільшої кількості користувачів. </p>
                <p>Наша місія - забезпечити найкращий клієнтський досвід для ваших користувачів.</p>
                <a href="#" class="btn">Learn More</a>
            </div>
        </div>
    </section>


    <!-- Reviews -->
    <section class="reviews" id="reviews">
        <div class="heading">
            <span>Відгуки</span>
            <h1>Що кажуть наші клієнти</h1>
        </div>
        <div class="reviews-container">
            <div class="box">
                <div class="rev-img">
                    <img src="{% static 'img/rev1.jpeg' %}" alt="rev1.jpg">
                </div>
                <h2>Rencho Baba</h2>
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star' ></i>
                </div>
                <p>Кращий сайт з продажу автомобілів хороший автомобіль в хорошому стані. Мені подобається цей сайт з продажу автомобілів, я і мої друзі насолоджуємося довгою поїздкою.</p>
            </div>
            <div class="box">
                <div class="rev-img">
                    <img src="{% static 'img/rev2.jpg' %}" alt="rev1.jpg">
                </div>
                <h2>Ak</h2>
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star' ></i>
                </div>
                <p>Я гонщик "Формули-1". У них є дуже хороші гоночні машини за низькою ціною. Я продаю машину і отримую дуже хорошу ціну.</p>
            </div>
            <div class="box">
                <div class="rev-img">
                    <img src="{% static 'img/rev3.jpg' %}" alt="rev1.jpg">
                </div>
                <h2>Angelia</h2>
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star-half' ></i>
                </div>
                <p>Ми з друзями вирішили поїхати у відпустку, продали машину і отримали стільки грошей. Я повністю задоволений їхнім сервісом.  </p>
            </div>
        </div>
    </section>


    <!-- Newsletter -->
    <section class="newsletter">
        <h2>Subscribe To Newsletter</h2>
        <div class="box">
            <input type="email" name="email" id="" placeholder="Enter Your Email...">
            <a href="#" class="btn" >Subscribe</a>
        </div>
    </section>
    <div class="copyright">
        <p>&#169; Parker-Carpido All Right Reserved 2022</p>
        <div class="social">
            <a href="#"><i class='bx bxl-facebook' ></i></a>
            <a href="#"><i class='bx bxl-twitter' ></i></a>
            <a href="#"><i class='bx bxl-instagram' ></i></a>
        </div>
    </div>
    {% endblock content %}

<!-- Scroll Reveal -->
